<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.5"
  stroke-linecap="round"
  stroke-linejoin="round"
><title>Solidity</title>
  <path d="M12 2L3 8v8l9 6 9-6V8l-9-6z"/>
  <path d="M12 8v8"/>
  <path d="M7.5 10.5L12 8l4.5 2.5"/>
  <path d="M7.5 13.5L12 16l4.5-2.5"/>
</svg>
